.initial-container {
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.initial-container header {
    width: 100%;
    max-width: 350px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.initial-container form ul {
    list-style-type: none;
}
.initial-container form li {
    margin: 10px;
    
}